@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using WebApplication1.Models

@model List<Student>

<h2 style="text-align:center">Student List</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (Student item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td><button class="btn btn-warning" >Edit</button></td>
                <td><button class="btn btn-danger">Delete</button></td>
            </tr>
        }
    </tbody>
</table>